@font-face {
    font-family: Lato;
    src: url(../img/font/Lato-Regular.ttf);
}

:root {
    --color-base: #FFFFFF;
    --header-color: #F4F6F9;
    --font-color: #4F4F4F;
    --title-font-color: #333333;
    --section-title: #00ADEE;
    --feature-color: #FAFAFA;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    background-color: var(--color-base);
}

.container {
    min-width: 360px;
    max-width: 1440px;
    margin: 0 auto 0 auto;
}

h1 {
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 30px;
    text-align: center;
    color: var(--font-color);
}

h2 {
    font-size: 28px;
    line-height: 37px;
    font-weight: bold;
    text-align: center;
    color: var(--title-font-color);
}

p {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: var(--title-font-color);
}

a {
    text-decoration: none;
    color: var(--section-title);
}

hr {
    margin: 0;
    border: 0;
}

@media screen and (min-width: 601px) {
    h1 {
        font-size: 36px;
        line-height: 48px;
        text-align: left;
    }
    h2 {
        text-align: left;
        font-size: 28px;
        line-height: 37px;
    }
    p {
        font-size: 18px;
        line-height: 26px;
        text-align: left;
    }
}