.col {
    width: 100%;
}

.spacing-sm {
    padding-bottom: 60px;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

@media screen and (min-width: 600px) {
    .col {
        width: 50%;
    }
    .spacing-lg {
        padding-bottom: 160px;
    }
    .flex-wrap {
        flex-wrap: nowrap;
    }
    .pad-right-4 {
        padding-right: 4%;
    }
}