.team__img {
    background: url(../img/team-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 260px;
}

.team__text {
    padding-bottom: 46px;
}

@media screen and (min-width: 600px) {
    .team__img {
        order: -1;
        height: unset;
    }
    .team__text {
        padding: 105px 10% 98px 5%;
        text-align: left;
        align-items: unset;
    }
}